### 문제 1
다음 리스트를 만들어보세요 (여러가지 방법으로 만들어보세요)
- a. [0, 1, 2, 3, 4, 5]
- b. [4, 5, 6, 7]
- c. [3, 6, 9]
- d. [1, 2, 1, 2, 1, 2, 1, 2]

In [47]:
a=[]
for i in range(6):
    a.append(i)
print(f"리스트 a {a}")    
# ---- 2 ---
lst = [num for num in range(6)]
print(lst)

리스트 a [0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]

### 문제 2
구구단 3단을 출력하시오. 단, for, while을 활용하여 다양하게 만들어보시오.

In [10]:
n=3
# ------for------
# for i in range(1,10):
#     print(f"{n}x{i}={i*n}")

#------while------
i=1
while i<=9:
    print(f"{n}x{i}={i*n}")
    i+=1

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27

### 문제 3
40 이하의 3의 배수를 출력하시오

In [11]:
num = 1
while num <=40:
    if num %3==0:
        print(num)
    num +=1

3
6
9
12
15
18
21
24
27
30
33
36
39

### 문제 4
1 ~ 100 중에 7의 배수의 개수를 출력하세요.

In [12]:
count=0
for i in range(1,101):
    if i %7==0:
        count +=1
print(count)

14

### 문제 5
lst = [1, 2, 4, 3, 3, 5, 5, 6, 9, 7] 일 때,
원소가 1, 4, 5, 7인 경우를 제외하고 출력하세요

In [14]:
lst = [1, 2, 4, 3, 3, 5, 5, 6, 9, 7] 
for i in lst:
    if i == 1 or i == 4 or i==5 or i == 7:
        continue
    else:
        print(i)

2
3
3
6
9

### 문제 6
1 ~ 9 까지의 자연수 중 제곱한 수가 10 이상 50 이하인 자연수의 리스트를 출력해보세요.

In [15]:
result=[]
for i in range(1,10):
    if i**2 >=10 and i**2 <=50:
        result.append(i)
print(result)

[4, 5, 6, 7]

### 문제 7
숫자 두개를 각각 입력받아 두 수 사이에 속한 모든 정수의 합을 구하시오. (ex. 2와 5를 입력받는다면 2 + 3 + 4 + 5 = 14)

In [18]:
s, e = map(int, input().split())
result=0

while (s<=e):
    result +=s
    s+=1

print(result)

20

### 문제 8
다음 리스트 `colors = ['red', 'green', 'blue', 'yellow', 'purple']`의 인덱스와 값을 함께 출력하세요.
(출력 예시: `번호: 0, 색상: red` ...)

In [19]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']

# range(len(colors))를 활용하여 작성해보세요.
for i in range(len(colors)):
    color = colors[i]
    print(f"번호: {i}, 색상: {color}")

번호: 0, 색상: red
번호: 1, 색상: green
번호: 2, 색상: blue
번호: 3, 색상: yellow
번호: 4, 색상: purple

### 문제 9
1부터 50까지의 숫자 중에서 5의 배수만 골라 `my_list`에 저장하고, 그 리스트의 모든 요소의 합을 `for`문을 사용하여 구하세요.

In [24]:
my_list = []
total = 0

# 1. range를 사용하여 5의 배수를 리스트에 추가
# 2. for문을 사용하여 합계 계산

for i in range(5,51,5):
    my_list.append(i)

for i in my_list:
    total+=i


print(f"리스트: {my_list}")
print(f"합계: {total}")

리스트: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
합계: 275

### 문제 11
사용자로부터 숫자를 계속 입력받다가 `-1`을 입력하면 입력을 멈추고, 그동안 입력받은 숫자들 중에서 **가장 큰 값**을 출력하는 프로그램을 `while`문을 사용하여 작성하세요. (단, `max()` 함수를 사용하지 마세요.)

In [26]:
max_val = 0

while True:
    num = int(input("숫자를 입력하세요 (-1 종료): "))
    if num == -1:
        break
    # 여기에 최댓값을 갱신하는 로직을 작성하세요
    if num > max_val:
        max_val=num

print(f"가장 큰 값: {max_val}")

가장 큰 값: 12

### 문제 12
`while`문을 사용하여 1부터 100까지의 정수 중 홀수의 합과 짝수의 합을 각각 따로 구하여 출력하세요.

In [27]:
odd_sum = 0
even_sum = 0
n = 1

while n <= 100:
    
    # 조건문을 사용하여 홀수/짝수 합계를 구하세요
    if n%2==0:
        even_sum+=n
    else:
        odd_sum+=n
        
    n+=1

print(f"홀수의 합: {odd_sum}")
print(f"짝수의 합: {even_sum}")

홀수의 합: 2500
짝수의 합: 2550

### 문제 13
n = 17일 때, n이 소수인지 판단하시오. 

(추가로, n을 입력받아 같은 과정을 반복하시오.)

In [45]:
# n=17
n=int(input())
for i in range(2,n):
    # print(i)
    if n % i ==0:
        print(n,i)
        print("소수가 아닙니다")
        break
else:
    print("소수")

소수